 ### 15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [1]:
fruits = ["apple", "banana", "cherry", "apple", "banana", "date"]
unique_fruits = list(dict.fromkeys(fruits))
print(unique_fruits)

['apple', 'banana', 'cherry', 'date']

 ### 16. Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [5]:
items = [444,333,222,111]
check= True
if items == sorted(items) or items == sorted(items, reverse=True):
    print(check)
else:
    check = False
    print(check)

True

 ### 17. Write a code to merge two sorted lists into a single sorted list

In [9]:
my_list = ["cookies", "kelloges", "oil", "pasta", "tshirt"]
brother_list = ["dry fruits", "egg", "green tea", "kelloges", "oats"]
merged_list = my_list + brother_list
unique_list = list(set(merged_list))
print(sorted(unique_list))

['cookies', 'dry fruits', 'egg', 'green tea', 'kelloges', 'oats', 'oil', 'pasta', 'tshirt']

 ### 18. Implement a code to find the intersection of two given lists

In [10]:
list1= [1,5,0,45,33,13,12,111]
list2= [213,45,43,111,2,5]
intersection = list(set(list1) & set(list2))
print(intersection)

[45, 5, 111]

### 19. Create a code to find the union of two lists without duplicates

In [11]:
list1= [1,5,0,45,33,13,12,111]
list2= [213,45,43,111,2,5]
union = list(set(list1) | set(list2))
print(union)

[0, 1, 33, 2, 5, 43, 12, 45, 13, 111, 213]

### 20. Write a code to shuffle a given list randomly without using any built-in shuffle function

In [12]:
import random
my_list = [1, 2, 3, 4, 5]
shuffled_list = sorted(my_list, key=lambda x: random.random())
print("Original list:", my_list)
print("Shuffled list:", shuffled_list)

Original list: [1, 2, 3, 4, 5]
Shuffled list: [2, 3, 1, 5, 4]

### 21.Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples

In [4]:
tup1= eval(input())
tup2= eval(input())
tup3= set(tup1+ tup2)
print(tuple(tup3))

 1,2,33,45,3,32,11
 43,32,54,111,45,33

(32, 1, 2, 3, 33, 11, 43, 45, 111, 54)

### 22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the  intersection of these two sets

In [8]:
input1 = input("Enter the first set of integers separated by commas: ")
input2 = input("Enter the second set of integers separated by commas: ")
set1 = set(map(int, input1.split(',')))
set2 = set(map(int, input2.split(',')))
print("The intersection of the two sets is:", set1 & set2)

Enter the first set of integers separated by commas:  1,2,12,13,44,45,2
Enter the second set of integers separated by commas:  13,2,14,45,44

The intersection of the two sets is: {2, 13, 44, 45}

### 23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new  tuple containing elements from both input tuples

In [14]:
def concat():
    tup1= eval(input())
    tup2= eval(input())
    return tup1+ tup2
print(concat())

 1,2,3
 45,32,3,55

(1, 2, 3, 45, 32, 3, 55)

### 24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are  present in the first set but not in the second set

In [21]:
input1 = input(str("Enter the first set of strings separated by commas: "))
input2 = input(("Enter the second set of strings separated by commas: "))
set1 = set(map(str, input1.split(',')))
set2 = set(map(str, input2.split(',')))
difference = set1 - (set1 & set2)
print(difference)

Enter the first set of strings separated by commas:  roshni,rohit,ram,sam,arjun
Enter the second set of strings separated by commas:  roshni,arjun,jiya,nisha

{'rohit', 'ram', 'sam'}

### 25.  Create a code that takes a tuple and two integers as input. The function should return a new tuple  containing elements from the original tuple within the specified range of indices

In [6]:
def slice_tuple(t, start, end):
    return t[start:end]
original_tuple = (10, 20, 30, 40, 50, 60)
start_index = 2
end_index = 5
result = slice_tuple(original_tuple, start_index, end_index)
print(result)

(30, 40, 50)

### 26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two set

In [22]:
input1 = input(str("Enter the first set of character separated by commas: "))
input2 = input(("Enter the second set of character separated by commas: "))
set1 = set(map(str, input1.split(',')))
set2 = set(map(str, input2.split(',')))
union = set1 | set2
print(union)

Enter the first set of character separated by commas:  a,b,q,y
Enter the second set of character separated by commas:  r,s,c,m,a

{'r', 'c', 'q', 's', 'y', 'm', 'b', 'a'}

### 27. Develop a code that takes a tuple of integers as input. The function should return the maximum and  minimum values from the tuple using tuple unpackin

In [25]:
tup1= eval(input("enter a tuple seperated by commas"))
print( max(tup1))
print(min(tup1))

enter a tuple seperated by commas 1,2,3,45,7

45
1

### 28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these  two sets

In [2]:
input1 = input(str("Enter the first set of integer separated by commas: "))
input2 = input(("Enter the second set of integer separated by commas: "))
set1 = set(map(int, input1.split(',')))
set2 = set(map(int, input2.split(',')))
union = set1 | set2
difference = set1 -  set2
intersection = set1 & set2
print(union)
print(intersection)
print(difference)

Enter the first set of integer separated by commas:  1,2,3,4
Enter the second set of integer separated by commas:  33,23,55,43,2

{1, 2, 3, 4, 33, 43, 55, 23}
{2}
{1, 3, 4}

### 29. Write a code that takes a tuple and an element as input. The function should return the count of  occurrences of the given element in the tuple

In [3]:
tup1= eval(input("enter a tuple seperated by commas"))
dict = {}
for element in tup1:
    if element in dict:
        dict[element] +=1
    else:
        dict[element] =1
print(dict)

enter a tuple seperated by commas 11,11,23,23,23,23,44,31,77

{11: 2, 23: 4, 44: 1, 31: 1, 77: 1}

### 30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of  these two sets

In [4]:
input1 = input(str("Enter the first set of strings separated by commas: "))
input2 = input(("Enter the second set of strings separated by commas: "))
set1 = set(map(str, input1.split(',')))
set2 = set(map(str, input2.split(',')))
symmetric_difference = set1 ^ set2
print(symmetric_difference)

Enter the first set of strings separated by commas:  roshni,pwskills,watercolor,testing
Enter the second set of strings separated by commas:  data analysis, scammers, alice,roshni,pwskills

{'testing', 'watercolor', 'data analysis', ' alice', ' scammers'}

### 31.Write a code that takes a list of words as input and returns a dictionary where the keys are unique words  and the values are the frequencies of those words in the input list

In [6]:
li = input("Enter a list of items separated by commas: ")
list_items = li.split(',')
dict = {}
for element in list_items:
    if element in dict:
        dict[element] +=1
    else:
        dict[element] =1
print(dict)

Enter a list of items separated by commas:  egg,egg,milk,chocos,meat,sugar,oil,meat,meat,cheese,cheese

{'egg': 2, 'milk': 1, 'chocos': 1, 'meat': 3, 'sugar': 1, 'oil': 1, 'cheese': 2}

### 32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are  common keys, the values should be added together

In [1]:
d1 = {"a" : 1, "b" :23 , "c":7 , "d":11 , "e":322}
d2 = {"q":55 , "d":12 , "r":3 , "s":7}
merged_dict = {**d1, **d2}  
for key in d1.keys() & d2.keys(): 
    merged_dict[key] = d1[key] + d2[key]
print(merged_dict)

{'a': 1, 'b': 23, 'c': 7, 'd': 23, 'e': 322, 'q': 55, 'r': 3, 's': 7}

### 33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of  keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the  function should return None

In [3]:
def get_nested_value(d, keys):
    for key in keys:
        d = d.get(key)
        if d is None:
            return None
    return d
nested_dict = {'a': {'b': {'c': 42}}}
keys = ['a', 'b', 'c']
print(get_nested_value(nested_dict, keys))  # Output: 42

keys_invalid = ['a', 'b', 'x']
print(get_nested_value(nested_dict, keys_invalid))  # Output: None

42
None

### 34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You  can choose whether to sort in ascending or descending order

In [2]:
my_dict = {"a": 1, "b": 23, "c": 7, "d": 11, "e": 322}
sorted_dict_desc = dict(sorted(my_dict.items(), key=lambda item: item[1], reverse=True))
print(sorted_dict_desc)

{'e': 322, 'b': 23, 'd': 11, 'c': 7, 'a': 1}

### 35.  Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary  correctly handles cases where multiple keys have the same value by storing the keys as a list in the  inverted dictionary

In [5]:
def invert_dict(d):
    inverted_dict = {}
    for key, value in d.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]
    return inverted_dict
original_dict = {"a": 1, "b": 2, "c": 1, "d": 3, "e": 2}
inverted_dict = invert_dict(original_dict)
print(inverted_dict)

{1: ['a', 'c'], 2: ['b', 'e'], 3: ['d']}